* { box-sizing: border-box; }
body {
  background-image: url("pics/pexels-xiaodong-zhang-207745687-14823899.jpg"); 
  background-repeat: no-repeat;           
  background-position: center;        
  background-attachment: fixed;      
  background-size: cover;     

  font-family: Arial, Helvetica, sans-serif; 
  margin: 0;
}

.header h1{
  text-align: center;
  background-color: #f2f2f2;
  border: 2px solid #333;
  padding: 12px;          
  margin: 10px;
}
.header p{
  text-align: center;
  background-color: #f2f2f2;
  border: 2px solid #333;
  padding: 12px;          
  margin: 10px;
}

.topnav {
  background-color: #333333;
  padding: 10px 0px;
}

.topnav ul { margin: 0px; padding: 0px; list-style-type: none; } 
.topnav li { display: inline; }
.topnav a{text-decoration: none;}

.topnav a:link {
  color: #f2f2f2;
  text-decoration: none; 
  padding: 14px 16px;
}
.topnav a:visited { color: #f2f2f2; }
.topnav a:hover {
  background-color: #dddddd;
  color: black;
}
.topnav a:active { color: #0000ff; } 

.column { float: left; padding: 10px; }  
.side { width: 25%; }                    
.middle { width: 50%; }               

.box {
  background-color: rgba(255,255,255,0.85);
  border: 2px solid #333; 
  padding: 12px;          
  margin: 10px;           
}

.album-list {
  width: 70%;
  margin: 40px auto;
  padding: 20px;
}

.album-img {
  width: 100%;
  border: 2px solid #333; 
}

.album-item {
  margin-bottom: 25px;
}


.album-item a:hover {
  text-decoration: underline;
}

.album-item a {
  color: #ff009d7a;
  text-decoration: none;
}



.footer {
  background-color: rgba(0,0,0,0.65);
  color: white;
  padding: 10px;
  text-align: center;
  clear: both; 
}

@media screen and (max-width: 600px) {
  .side, .middle { width: 100%; }
}
